<!doctype html>
<html lang="en">
    <head></head>
    <body>
        <h1>Top MPM IMDB Movies</h1>
        <table border=1 cellpadding=10px>
            <tr>
                <th>Title</th>
                <th>Director</th>
                <th>Genres</th>
            </tr>
            {% for obj in object_list %}
            <tr>
                <td>{{ obj.title }}</td>
                <td>{{ obj.director }}</td>
                <td>{{ obj.genres }}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>